<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Datos del usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20"
                        [formGroup]="perfilForm"
                        (ngSubmit)="guardarCambios()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input  type="text" 
                                    class="form-control" 
                                    id="exampleInputuname" 
                                    placeholder="Username"
                                    formControlName="nombre"
                                    >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input  type="email" 
                                    class="form-control" 
                                    id="exampleInputEmail1" 
                                    placeholder="Email"
                                    formControlName="email"
                                    [readOnly]="usuario.google"
                                    >
                        </div>
                    </div>
                    
                    <button type="submit" 
                            class="btn btn-success waves-effect waves-light m-r-10"
                            [disabled]="perfilForm.invalid"
                            >Actualizar Datos</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>
                <div class="text-center">

                    <img *ngIf="!imagenPreview" [src]="usuario.imagenUrl" class="preview-img">
                    <img *ngIf="imagenPreview" [src]="imagenPreview" class="preview-img">
                </div>

                <input type="file"
                       (change)="cambiarImg( $event )">
                <br>
                <br>


                <button type="button" 
                        class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="!imagenSubir"
                        (click)="subirImg()">Actualizar Imagen</button>
            </div>
        </div>
    </div>

</div>